.background{
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 33, 33);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .register{
        height: 100%;
        border: 1px solid black;
        background-color: white;
        padding-bottom: 70px;
        form{
            width: 80%;
            display: block;
            margin: 0 auto;
            h2{
                width: 100%;
                display: block;
            }
            .back{
                color: #357EC7;
                text-decoration: none;
            }
            .inputCont, .inputContP, .inputContB{
                display: flex;
                svg{
                    width: 18px;
                    border: 1px solid black;
                    border-right: none;
                    margin-top: 5px;
                }
                .passwordWatch{
                    border: 1px solid black;
                    border-left: none;
                }
                input{
                    width: 100%;
                    outline: none;
                    border: 1px solid black;
                    border-left: none;
                    display: block;
                    margin-top: 5px;
                }
            }
            .inputContP{
                input{
                    border-right: none;
                }
            }
            .inputContB{
                input{
                    border: 1px solid black;
                }
            }
            label{
                text-align: left;
                display: block;
                width: 100%;
            }
            p{
                color: red;
                text-align: left;
                font-size: 13px;
            }
            button{
                margin-top: 20px;
                width: 100%;
                height: 40px;
                outline: none;
                border: none;
                margin-top: 20px;
                background-color: #357EC7;
                color: white;
                font-weight: 600;
                &:hover{
                    background-color: #3090C7;
                }
            }
        }
        
    }
}
.snackBar{
    position: absolute;
    top: 0;
    width: 30%;
    height: 100px;
    background-color: white;
    visibility: hidden;
    transform: translateY(30px);
    opacity: 0;
    animation: snack 3s linear;
    svg{
        color: rgb(9, 191, 15);
    }
    span{
        word-spacing: 5px;
        font-weight: bold;
    }
}

.custom-loader {
    width:50px;
    height:50px;
    position: absolute;
    --c:radial-gradient(farthest-side,#766DF4 92%,#0000);
    background: 
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size:12px 12px;
    background-repeat:no-repeat;
    animation:s7 2s infinite;
  }

  @keyframes s7 {to{transform: rotate(.5turn)}}
@keyframes snack {
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95%{
        opacity: 1;
        transform: translateY(0);
    }
}
@media only screen and (min-width: 550px) {
    .register{
        width: 30%;
        input, svg{
            height: 30px;
        }
    }
}
@media only screen and (max-width: 550px) {
    .register{
        width: 100%;
        display: flex;
        align-items: center;
        input, svg{
            height: 50px;
        }
    }
}