.page{
    display: flex;
    position: static;
    nav{
        position: relative;
        width: 60px;
        height: 100vh;
        background-color: #090E14;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 0.5s;
        z-index: 2;
        // background: linear-gradient(90deg, rgba(14,0,36,1) 0%, rgba(59,9,121,1) 35%, rgba(123,0,255,1) 100%);
        ul{
            list-style-type: none;
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            li{
                display: flex;
                padding: 5px 0;
                svg, span, a{
                    color: #D8DCE0;
                    cursor: pointer;
                }
                a{
                    text-decoration: none;
                }
                svg{
                    font-size: 25px;
                }
                .searchActive{
                    color: blue;
                }
            }
        }
        .arrow{
            position: absolute;
            top: 45%;
            width: 25px;
            height: 50px;
            background: linear-gradient(90deg, rgba(14,0,36,1) 0%, rgba(59,9,121,1) 35%, rgba(123,0,255,1) 100%);
            right: -25px;
            font-size: 30px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            text-align: center;
            line-height: 50px;
            opacity: 0.7;
            svg{
                color: white;
            }
        }
    }
    .sideBar{
        width: 200px;
        transition: width 0.5s;
        ul{
            display: flex;
            width: 80%;
            align-items: start;
        }
    }
}
@media only screen and (max-width: 550px){
    main{
        height: 100vh;
    }
   .page{
        display: none;
   }
   .mobileNavBar{
    position: absolute;
    bottom: 10px;
    width: 95%;
    z-index: 2;
    left: 2.5%;
    height: 60px;
    background-color: rgb(228, 227, 227);
    border-radius: 15px;
    nav{
        width: 100%;
        height: 100%;
        ul{
            height: 100%;
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                svg{
                    color: gray;
                    font-size: 30px;
                    &:hover{
                        color: blue
                    }
                }
                div{
                    width: 60px;
                    height: 100px;
                    border-radius: 10px;
                    background-color: rgb(228, 227, 227);
                    position: absolute;
                    right: 15px;
                    top: -105px;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                    }
                }
            }
        }
       }
    }
}