
.forgatPNumber{
    width: 450px;
    padding: 30px;
    background-color: white;
    input{
        width: 90%;
        height: 30px;
        outline: none;
        border: 1px solid black;
        margin-top: 15px;
    }
    button{
        margin: 15px auto;
        width: 40%;
        outline: none;
        background-color: #357EC7;
        height: 30px;
        border: none;
        cursor: pointer;
    }
    .conf{
        width: 100%;
    }
    .btNext{
        display: block;
    }
    .btOk, .btNo{
        margin: 10px;
    }
}
.newPassword{
    width: 450px;
    height: auto;
    padding: 30px;
    background-color: white;
    form{
        width: 100%;
        button{
            width: 40%;
            outline: none;
            background-color: #357EC7;
            height: 30px;
            border: none;
            cursor: pointer;
        }
        div{
            display: flex;
            justify-content: center;
            input{
                display: block;
                margin: 10px 0;
                width: 90%;
                height: 30px;
                outline: none;
                border: 1px solid black;
                border-right: none;
            }
            span{
                display: flex;
                align-items: center;
            }
            svg{
                width: 20px;
                height: 30px;
                border: 1px solid black;
                border-left: none;
                padding: 0 2px;
            }
        }
    }
}