*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 100%;
    height: auto;
    background-color: white;
    form{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
        .eyePassword, .logEmail{
            display: flex;
            svg{
                width: 20px;
                margin-top: 20px;
                border: 1px solid black;
                border-right: none;
                padding: 0 2px;
            }
            .eyeClosed, .eyeOpen{
                border: 1px solid black;
                border-left: none;
            }
        }
        input{
            width: 100%;
            // height: 30px;
            outline: none;
            border: 1px solid rgb(66, 6, 112);
            border-left: none;
            display: block;
            margin-top: 20px;
        }
        .pinput{
            border-right: none;
        }
        label{
            font-size: 13px;
            display: block;
            text-align: left;
        }
        button{
            width: 40%;
            outline: none;
            background-color: #357EC7;
            margin-top: 20px;
            border: none;
            color: white;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: #3090C7;
            }
        }
        .link{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
                font-family: sans-serif;
                text-decoration: none;
                color: #357EC7;
            }
        }
    }
}
@media only screen and (min-width: 550px){
    .form{
        svg, input, button{
            height: 30px;
        }
        .link{
            a{
                font-size: 13px;
            }
        }
    }
}
@media only screen and (max-width: 550px) {
    .form{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        form{
            width: 90%;
            img{
                width: 40%;
            }
        }
        svg, input, button{
            height: 50px;
        }
        .link{
            a{
                font-size: 17px;
            }
        }
        
    }
}
